.home{
    display: flex;
    background-color: #1e1f21;


    .homeContainer{
        flex: 6;

        .widgets{
            display: flex;
            padding: 20px;
            gap: 20px;
        }

        .listContainer{
            -webkit-box-shadow: 5px 8px 15px 5px rgba(0,0,0,0.2); 
            box-shadow: 5px 8px 15px 5px rgba(0,0,0,0.2);
            padding: 20px;
            margin: 20px;

            .listTitle{
                font-weight: 500;
                color: #39ff13;
                margin-bottom: 15px;
            }
        }
    }
}