.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    -webkit-box-shadow: 5px 8px 15px 5px rgba(0,0,0,0.2); 
    box-shadow: 5px 8px 15px 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    height: 145px;
}

.main{
    

    img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
}