.table{
    background-color: #232426;

    .tableContainer{
        background-color: #232426;
    }


    .tableCell{
        color: #888;
    }

    .tableHead{
        color: #fff;
    }
    
    .cellWrapper{
        display: flex;
        align-items: center;

        .image{
            width: 20px;
            height: 20px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }

    .status{
        padding: 5px;
        border-radius: 0px;

        &.Profit{
            color: #39ff13;
        }

        &.Loss{
            color: red;
        }
    }
}